body{
    background-color:rgb(7, 2, 1) ;
    }
 
     h1{
    color:rgb(255,0,0);
    font-family: hover;
    background: 20px;
    ;
    }
    
 
    p{
    color: text-align: center;
    font-family:hover
    font: size 20px;
    background:green;
    }
    